#file-list, #folder-list, #breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
	margin: 0;
    padding: 0;
}

.file-list-item, .folder-list-item, .breadcrumb-list-item {
	width: 200px;
    list-style-type: none;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 16px;
    margin-right: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.file-list-item {
	height: 200px;
	background-color: #fff;
}

.folder-list-item {
	background-color: rgb(226, 236, 249);
}

.breadcrumb-list-item {
    position: relative;
    width: 100px;
    border: none;
}

.breadcrumb-list-item:not(:last-child)::after {
    content: ">";
    position: absolute;
    top: 10px;
    right: -15px;
    font-weight: bold;
}

.breadcrumb-list-item:last-child {
    pointer-events: none;    
    background-color: gainsboro;
}

.file-list-item:hover, .folder-list-item:hover, .breadcrumb-list-item:hover {
    opacity: 0.8;
}

.breadcrumb-list-item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.file-picture {
    width: 100%;
    height: calc(100% - 40px);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.file-name, .folder-name, .breadcrumb-name {
	font-size: 15px;
    word-wrap: break-word;
    margin: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 5px;
    overflow: hidden;
}

.camera-body {
	background-color: rgba(0, 0, 0, 0.2);
}

#camera-video {
    -webkit-app-region: drag;
}

.camera-buttons {
	text-align: center;
}

.camera-button {
	padding: 10px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}